
/* FloatingMenu.vue */
.floatbox {
  position: absolute;
  top: 100px;
  right: 0;
  background: white;
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 9;
}

.floatbox-header {
  font-weight: 600;
  padding: 15px 0;
}

.floatbox-header-text {
  font-style: italic; 
  opacity: 0.3;
}

.floatbox-menu {
  max-height: 50vh;
  overflow-y: auto;
}

.floatbox-menu-arrange {
  width: 100%;
  float: left;
}

.floatbox-footer {
  width: 100%;
  padding: 10px 0;
}

.fload-footer-delete {
  width: 100%;
}


/* FloatingMenuShape.vue */
.floatbox-shape-list {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.floatbox-shape-list-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

.floatbox-shape-list-item:hover {
    background-color: #eee;
}

.floatbox-shape-list-item-icon {
    margin: 0 auto;
    padding: 10px 0;
    opacity: 0.5;
}

.floatbox-shape-list-item.active .floatbox-shape-list-item-icon {
    color: var(--badgey-green);
    opacity: 1;
}

.floatbox-shape-list-item.active .floatbox-shape-list-item-text {
    color: var(--badgey-green);
    font-weight: bold;

}

.floatbox-shape-menu {
  width: 100%;
}

.floatbox-shape-menu-width,
.floatbox-shape-menu-height,
.floatbox-shape-menu-sides,
.floatbox-shape-menu-fill,
.floatbox-shape-menu-stroke-width,
.floatbox-shape-menu-stroke-color {
  width: calc(50% - 10px);
  padding: 10px 5px;
  float: left;
}

.floatbox-shape-menu-stroke {
  width: 100%;
  padding: 10px 0;
}

/* FloatMenuLine.vue */
.floatbox-line-menu {
  width: 100%;
}

.floatbox-line-menu-width,
.floatbox-line-menu-stroke,
.floatbox-line-menu-rotate,
.floatbox-line-menu-fill {
  width: calc(50% - 10px);
  padding: 10px 5px;
  float: left;
}

/* FloatMenuText.vue */
.floatbox-text-input {
  width: 100%;
}

.floatbox-text-menu {
  width: 100%;
}

.floatbox-text-menu-font,
.floatbox-text-menu-size,
.floatbox-text-menu-style,
.floatbox-text-menu-align {
  width: calc(50% - 10px);
  padding: 10px 5px;
  float: left;
}

.floatbox-text-menu-fill {
  width: 100%;
  padding: 10px 5px;
  clear: both;
}

/* FloatingMenuImage.vue */
.floatbox-image-list {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.floatbox-image-list-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

.floatbox-image-list-item:hover {
    background-color: #eee;
}

.floatbox-image-list-item-icon {
    margin: 0 auto;
    padding: 10px 0;
    opacity: 0.5;
}

.floatbox-image-list-item.active .floatbox-image-list-item-icon {
    color: var(--badgey-green);
    opacity: 1;
}

.floatbox-image-list-item.active .floatbox-image-list-item-text {
    color: var(--badgey-green);
    font-weight: bold;

}

.floatbox-image-menu {
  width: 100%;
}

.floatbox-image-menu-width,
.floatbox-image-menu-height,
.floatbox-image-menu-stroke-width,
.floatbox-image-menu-stroke-color {
  width: calc(50% - 10px);
  padding: 10px 5px;
  float: left;
}

.floatbox-image-menu-stroke {
  width: 100%;
  padding: 10px 0;
}